$fontFamily_1: 'Roboto', sans-serif;
$fontFamily_2: 'Poppins', sans-serif;

$bgcFirst: rgba(28,28,28,1);
$bgcSecond: rgba(34,34,34,1);
$bgLightFirst: #dadada;
$bgLightSecond: #dadada;
$titleLight: rgba(180, 180, 180, 0.7);
$titleDark: hsla(0, 0%, 100%, .07);
$accentColor: #ff8e3c;
$fontColor: white;